{% extends "layout.html" %}

{% block content %}
    <section class="header">
        <h1>Christeena Maderal</h1>
        <p>There is an easy way and a hard way. The hard part is finding the easy way.</p>
        <img src="https://pbs.twimg.com/media/ElGj0qIVcAECVCs?format=jpg&name=4096x4096" alt="Headshot of myself">
    </section>
    <section id="about-page">
        <div id="triangle7"></div>
        <div id="triangle8"></div>
        <h2>Interests</h2>
            <ul>
                <li>Watching anime</li>
                <li>Reading manga</li>
                <li>Playing video games</li>
                <li>Reading fantasy novels</li>
                <li>Drawing stuff</li>
                <li>Solving coding practice problems</li>
            </ul>
        <h2>Work History</h2>
        <p>
            May 2017 - present: Sony Interactive Entertainment. System and Network Engineer for Playstation Network.
            I participated in the development and maintenance of several Playstation Network Services for the PS4 like Events and Tournaments. 
            I was also heavily involved in the design and development of the new services for the upcoming PS5, specifically the "Activity Cards" feature. 
        </p>
        <p>
            May 2011 - Apr 2017: Advanced World Solutions. Senior R/D Engineer. 
            I joined Advanced World Solutions Inc (AWS) on May 2011. 
            First, we received a 5-month training on Nihongo, General IT and Business Basics in 
            AWS and on October 2011, I started formally participating in projects. On March 2012, 
            I started working on system development projects and by December I was deployed to Japan. 
            Henceforth, I worked with the development of different Web applications in the accounting 
            and production industries. I have experience in all parts of software development life cycle 
            including initial requirements definition, spec design, coding, testing and maintenance. 
            As a sub-leader, I have been in charge of a team with around 15 members.
        </p>
        <p>
            May 2011 - Oct 2011: Advanced World Solutions. ACTION Trainee. 
            The ACTION training program is tailored to bridge the knowledge gained from the academe 
            with the actual needs of the global IT industry. 
            Its focus is to develop fresh (or with less than 2 years of IT experience) graduates into 
            AWS engineers who have balanced capability in terms of technical and business skills 
            apart from being proficient in English, Nihongo language is taught to provide enough 
            communication skill to Japanese market.
        </p>
        <p>
            Sep 2009 - Nov 2009: Ateneo Java Wireless Competency Center. Intern. Participated in development 
            and testing of multiple multiple mobile applications.
        </p>
        <a href="https://drive.google.com/file/d/0B529LIWY2pOaRVVIbVlPaHNfbGM/view?usp=sharing&resourcekey=0-LQlKqvg78MFqFwOGRfieEg"><i class="far fa-file"></i>Resume</a>
    </section>
{% endblock %}